<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/style.css" rel="stylesheet" />
    <title>Aquarium Main system</title>
  </head>
  <body>
    <div class="pHChart">
      <p class="phBtn"><a href="/ph">pH 농도 기록 차트</a></p>
    </div>
    <div class="tempChart">
      <p class="tempBtn"><a href="/temp">온도 기록 차트</a></p>
    </div>
    <div class="waterChart">
      <p class="waterBtn"><a href="/water">물공급 횟수 및 기록 차트</a></p>
    </div>
    <div class="FeedMoter">
      <p class="feedBtn"><a href="/feed">먹이 공급 시간 설정</a></p>
    </div>

    <div class="liveMonitor"></div>

    <div class="liveCam"></div>
  </body>
</html>
